<%- include('partials/head') %>


    <%- include('partials/navbar') %>
        <h1>The Home Page <%= 'Hello World' .toUpperCase() %>
        </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas id quasi dicta quos ipsum sint facilis
            illo
            veritatis! Consectetur obcaecati molestiae ducimus voluptatum sit dolor totam, inventore corporis libero
            consequuntur?</p>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas id quasi dicta quos ipsum sint facilis
            illo
            veritatis! Consectetur obcaecati molestiae ducimus voluptatum sit dolor totam, inventore corporis libero
            consequuntur?</p>

        <%- include('partials/footer') %>